body {
    background-image: url("../images/backgroundLogin.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.formLogin {
    position: absolute;
    top: 20%;
    left: 55%;
    width: 30%;
}

.status {
    display: none;
}

.formRegister {
    position: absolute;
    top: 10%;
    left: 40%;
}